/* Challenge: Center the img
    1. display: block
    2. Must have a width
    3. margin left/right: auto */

img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}